.title{
    color: rgb(43, 70, 226);
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 70px;
}

.lista{
    font-size: 30px;
}
